#map { position: absolute !important; top: 0; bottom: 0; width: 100%; }

.content { position: absolute; right: 0; background-color: #fff; padding: 30px; margin: 0; }
.content .statistics { list-style: none; padding: 0; min-width: 100px; }
.content .statistics .statisticsName { display: inline-block; width: 60px; }

.popup { padding: 20px; }

button { padding: 10px 15px; border: 0px; font-size: 14px; cursor: pointer; }